.container-grid {
    width: 80%;
    margin-left: 5%;
    margin-top: 3vh;

    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-rows: 60% 30%;
    gap: 4%;
}

.grid {
    width: 85%;
    height: 100%;
}

.title {
    font-size: 4vh; 
    color: black;
    font-family: "Roboto";
    margin-top: 10%;
}

.info {
    background-color: white;
    width: 60vh;
    height: 70vh;
    display: grid;
    margin-left: 10%;
    margin-top: 10%;
    grid-template-columns: 100%;
    grid-template-rows: 23% 35% 35%;
    border-radius: 20px;
    
}

.white {
    background-color: wheat;
}

.info-grid {
    margin-left: 10%;
    position: relative; /* Adiciona position: relative para o contêiner pai */
}

#pesquisa {
    padding-left: 2vh;
    font-size: 1.2vw;
    width: 100%;
    height: 5vh;
    border: 0.3vh solid white;
    border-radius: 1vh;
}

#chuva {
    margin-top: 3vh;
    width: 10vh;
    height: 10vh;
    margin-left: -5%;
}

#temometro{
    position: absolute;
    margin-top: -18%;
    margin-left: 83%;
    width: 7vh;
    height: 7vh;;
}

#temperature {
    position: absolute;
    color: #00003e;
    top: 15%;
    right: 16%;
    transform: translateY(-50%);
    font-size: 6vh;
    font-family: "Gothic A1", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#C {
    position: absolute;
    top: 27%;
    right: 13%;
    font-size: 2.5vh;
    font-weight: 600;
    font-family: "Gothic A1";
}

#city {
    position: absolute;
    top: -5%;
    left: 16%;
    font-size: 4vh;
    font-family: "Rubik", sans-serif;
    color: #00003e;
    font-weight: 600;
    font-style: normal;
}



#weather {
    position: absolute;
    top: 33%;
    left: 16%;
    font-size: 3vh;
    font-weight: 400;
    color: rgba(43, 43, 43, 0.853);
}

#description {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    font-size: 2vh;
    border-left: 0.3vh groove black;
    padding-left: 1.5vh;
    height: 8vh;
    font-size: 2.5vh;
    margin-top: -2vh;
}

#border{
    width: 90%;
    border-bottom: 2px solid rgba(48, 48, 48, 0.648);
}

#humidityPng {
    width: 8vh;
    height: 8vh;
    margin-left: -3%;
}

 #humidityTxt {
    /* position: absolute;
    top: -7%;
    left: 13%; */
    font-size: 2.5vh;
    font-family: "Rubik", sans-serif;
    color: #00003e;
    font-weight: 600;
    font-style: normal;
}

/* #humidity {
    position: absolute;
    top: 10%;
    left: 22%;
    font-size: 2.9vh;
    font-family: "Rubik", sans-serif;
    color: rgba(63, 63, 63, 0.974);
    font-weight: 470;
    font-style: normal;
} */


#humiditygrid{
    position: absolute;
    /* background-color: aqua; */
    width: 30%;
    margin-top: -19%;
    margin-left: 12%;
}

#humidity {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    font-size: 2.3vh;
    font-family: "Rubik", sans-serif;
    color: rgba(63, 63, 63, 0.974);
    font-weight: 470;
    font-style: normal;
    margin-top: -17%;
} 

#windSpeedPng{
    position: absolute;
    width: 7.5vh;
    height: 7.5vh;
    margin-top: 1%;
    margin-left: 25%;
}

#windSpeedGrid{
    position: absolute;
    width: 50%;
    margin-top: -19%;
    margin-left: 53%;
}

#windSpeedTxt{
    font-size: 2.5vh;
    font-family: "Rubik", sans-serif;
    color: #00003e;
    font-weight: 600;
    font-style: normal;
}