/* Estilo para o contêiner principal da grade */
.container-grid {
    width: 80%; /* Largura do contêiner */
    margin-left: 5%; /* Margem esquerda */
    margin-top: 2vh; /* Margem superior */

    display: grid; /* Exibe os itens como uma grade */
    grid-template-columns: 60% 30%; /* Define as colunas da grade */
    grid-template-rows: 60% 30%; /* Define as linhas da grade */
    gap: 4%; /* Espaçamento entre os itens da grade */
}

/* Estilo para os itens da grade */
.grid {
    width: 85%; /* Largura dos itens */
    height: 100%; /* Altura dos itens */
}

/* Estilo para o título */
.title {
    font-size: 4vh; /* Tamanho da fonte */
    color: #00003e; /* Cor do texto */
    font-family: "Roboto"; /* Família da fonte */
    margin-top: 10%; /* Margem superior */
}

/* Estilo para o contêiner de informações */
.info {
    background-color: white; /* Cor de fundo */
    width: 60vh; /* Largura */
    height: 70vh; /* Altura */
    display: grid; /* Exibe os itens como uma grade */
    margin-left: 10%; /* Margem esquerda */
    margin-top: 10%; /* Margem superior */
    grid-template-columns: 100%; /* Define as colunas da grade */
    grid-template-rows: 23% 35% 40%; /* Define as linhas da grade */
    border-radius: 13px; /* Raio da borda */
}

/* Estilo para os itens do contêiner de informações */
.info-grid {
    margin-left: 10%; /* Margem esquerda */
    position: relative; /* Adiciona position: relative para o contêiner pai */
}

/* Estilo para a barra de pesquisa */
#pesquisa {
    padding-left: 2vh; /* Espaçamento interno à esquerda */
    font-size: 1.2vw; /* Tamanho da fonte */
    width: 100%; /* Largura */
    height: 5vh; /* Altura */
    border: 0.3vh solid white; /* Borda */
    border-radius: 0.8vh; /* Raio da borda */
}

/* Estilo para a imagem do clima */
#climaPng {
    margin-top: 3vh; /* Margem superior */
    width: 10vh; /* Largura */
    height: 10vh; /* Altura */
    margin-left: -5%; /* Margem esquerda */
}

/* Estilo para a imagem do termômetro */
#temometro {
    position: absolute; /* Posicionamento absoluto */
    margin-top: -18%; /* Margem superior */
    margin-left: 83%; /* Margem esquerda */
    width: 7vh; /* Largura */
    height: 7vh; /* Altura */
}

/* Estilo para a temperatura */
#temperature {
    position: absolute; /* Posicionamento absoluto */
    color: #00003e; /* Cor do texto */
    top: 15%; /* Posição superior */
    right: 16%; /* Posição direita */
    transform: translateY(-50%); /* Translação vertical */
    font-size: 6vh; /* Tamanho da fonte */
    font-family: "Gothic A1", sans-serif; /* Família da fonte */
    font-weight: 700; /* Peso da fonte */
    font-style: normal; /* Estilo da fonte */
}

/* Estilo para a unidade de temperatura */
#C {
    position: absolute; /* Posicionamento absoluto */
    top: 27%; /* Posição superior */
    right: 13%; /* Posição direita */
    font-size: 2.5vh; /* Tamanho da fonte */
    font-weight: 600; /* Peso da fonte */
    font-family: "Gothic A1"; /* Família da fonte */
}

/* Estilo para o nome da cidade */
#city {
    position: absolute; /* Posicionamento absoluto */
    top: -5%; /* Posição superior */
    left: 16%; /* Posição esquerda */
    font-size: 4vh; /* Tamanho da fonte */
    font-family: "Rubik", sans-serif; /* Família da fonte */
    color: #00003e; /* Cor do texto */
    font-weight: 600; /* Peso da fonte */
    font-style: normal; /* Estilo da fonte */
}

/* Estilo para a descrição do clima */
#weather {
    position: absolute; /* Posicionamento absoluto */
    top: 33%; /* Posição superior */
    left: 16%; /* Posição esquerda */
    font-size: 3vh; /* Tamanho da fonte */
    font-weight: 400; /* Peso da fonte */
    color: rgba(43, 43, 43, 0.853); /* Cor do texto */
}

/* Estilo para a descrição geral */
#description {
    display: flex; /* Exibe como flexível */
    align-items: center; /* Alinha os itens verticalmente */
    margin-top: 2vh; /* Margem superior */
    font-size: 2vh; /* Tamanho da fonte */
    border-left: 0.3vh groove black; /* Borda à esquerda */
    padding-left: 1.5vh; /* Espaçamento interno à esquerda */
    height: 8vh; /* Altura */
    font-size: 2.5vh; /* Tamanho da fonte */
    margin-top: 10vh; /* Margem superior */
}

/* Estilo para a borda inferior */
#border {
    width: 90%; /* Largura */
    border-bottom: 2px solid rgba(48, 48, 48, 0.648); /* Borda inferior */
}

/* Estilo para a imagem de umidade */
#humidityPng {
    width: 8vh; /* Largura */
    height: 8vh; /* Altura */
    margin-left: -3%; /* Margem esquerda */
}

/* Estilo para o texto de umidade */
#humidityTxt {
    font-size: 2.5vh; /* Tamanho da fonte */
    font-family: "Rubik", sans-serif; /* Família da fonte */
    color: #00003e; /* Cor do texto */
    font-weight: 600; /* Peso da fonte */
    font-style: normal; /* Estilo da fonte */
}

/* Estilo para o valor da umidade */
#humidity {
    display: flex; /* Exibe como flexível */
    justify-content: flex-start; /* Justifica o conteúdo à esquerda */
    padding-left: 5%; /* Espaçamento interno à esquerda */
    font-size: 2.3vh; /* Tamanho da fonte */
    font-family: "Rubik", sans-serif; /* Família da fonte */
    color: rgba(63, 63, 63, 0.974); /* Cor do texto */
    font-weight: 470; /* Peso da fonte */
    font-style: normal; /* Estilo da fonte */
    margin-top: -17%; /* Margem superior */
}

/* Estilo para a borda entre as informações */
#borderInfo2 {
    margin-top: 3%; /* Margem superior */
    width: 90%; /* Largura */
    border-bottom: 2px solid rgba(48, 48, 48, 0.648); /* Borda inferior */
    position: absolute; /* Posicionamento absoluto */
}

/* Estilo para a imagem de velocidade do vento */
#windSpeedPng {
    position: absolute; /* Posicionamento absoluto */
    width: 7.5vh; /* Largura */
    height: 7.5vh; /* Altura */
    margin-top: 1%; /* Margem superior */
    margin-left: 35%; /* Margem esquerda */
}

/* Estilo para o texto de velocidade do vento */
#windSpeedTxt {
    font-size: 2.5vh; /* Tamanho da fonte */
    font-family: "Rubik", sans-serif; /* Família da fonte */
    color: #00003e; /* Cor do texto */
    font-weight: 600; /* Peso da fonte */
    font-style: normal; /* Estilo da fonte */
}

/* Estilo para o valor da velocidade do vento */
#windSpeed {
    display: flex; /* Exibe como flexível */
    justify-content: flex-start; /* Justifica o conteúdo à esquerda */
    padding-left: 1.8%; /* Espaçamento interno à esquerda */
    font-size: 2.3vh; /* Tamanho da fonte */
    font-family: "Rubik", sans-serif; /* Família da fonte */
    color: rgba(63, 63, 63, 0.974); /* Cor do texto */
    font-weight: 470; /* Peso da fonte */
    font-style: normal; /* Estilo da fonte */
    margin-top: -10%; /* Margem superior */
}

/* Estilo para o contêiner do mapa */
.mapGrid {
    margin-top: -20%; /* Margem superior */
    right: 10%; /* Posicionamento à direita */
    width: 100%; /* Largura */
    height: 100%; /* Altura */
    display: flex; /* Exibe como flexível */
    justify-content: center; /* Justifica o conteúdo no centro */
    align-items: center; /* Alinha os itens no centro */
}

/* Estilo para o mapa */
#map {
    width: 80%; /* Largura */
    height: 80%; /* Altura */
}

/* Estilo para o iframe do mapa */
#map iframe {
    width: 100%; /* Largura */
    height: 140%; /* Altura */
    border-radius: 2vh; /* Raio da borda */
    border: 0.35vh solid #00003e; /* Borda */
    margin-top: -2%; /* Margem superior */
}

/* Estilo para o texto do mapa */
#mapTxt {
    display: flex; /* Exibe como flexível */
    font-size: 3vh; /* Tamanho da fonte */
    font-family: "Rubik", sans-serif; /* Família da fonte */
    color: #00003e; /* Cor do texto */
    font-weight: 600; /* Peso da fonte */
    font-style: normal; /* Estilo da fonte */
    margin-top: -6%; /* Margem superior */
    justify-content: center; /* Justifica o conteúdo no centro */
}

/* Media query para dispositivos com largura máxima de 700px */
@media (max-width: 700px) {
    .container-grid {
        display: flex; /* Exibe como flexível */
        align-items: center; /* Alinha os itens verticalmente */
        justify-content: center; /* Justifica o conteúdo no centro */
        flex-wrap: wrap; /* Permite que os itens quebrem a linha conforme necessário */
    }

    .info {
        width: 100%; /* Largura */
    }
}
