/* Define um display flex para o elemento com a classe displayflex */
.displayflex {
    display: flex;
}

/* Define a direção dos elementos filhos como coluna */
.column {
    flex-direction: column;
}

/* Centraliza os itens ao longo do eixo transversal */
.center {
    align-items: center;
    justify-content: center;
}

/* Alinha os itens no início ao longo do eixo transversal */
.center-start {
    align-items: flex-start;
    justify-content: flex-start;
}

/* Alinha os itens no final ao longo do eixo principal */
.just-end {
    justify-content: flex-end;
}

/* Alinha os itens no início ao longo do eixo principal */
.just-start {
    justify-content: flex-start;
}

/* Centraliza os itens ao longo do eixo transversal e no final ao longo do eixo principal */
.center-end {
    align-items: flex-end;
    justify-content: flex-end;
}

/* Alinha os itens no início ao longo do eixo transversal */
.aling-start {
    align-items: start;
}

/* Estilo para o contêiner principal */
.grid1 {
    background-color: white;
    width: 80vh;
    height: 45vh;
    margin-left: 5%;
    border-radius: 3vh;
}

/* Estilo para a barra de pesquisa */
.search {
    width: 100%;
    height: 13vh;
}

/* Estilo para o campo de entrada na barra de pesquisa */
.search input {
    width: 60vh;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.753);
    border: 0.1vh solid rgba(104, 9, 112, 0);
    border-radius: 2vh;
    padding-left: 10%;
    color: white;
    font-size: 2.3vh;
}

/* Estilo para o texto de espaço reservado na barra de pesquisa */
.search input::placeholder {
    color: white;
}

/* Estilo para o campo de entrada na barra de pesquisa quando está em foco */
.search input:focus {
    outline: 0.5vh solid #00003e; /* Remove o contorno padrão */
}

/* Estilo para o ícone de pesquisa */
#lupa {
    position: absolute;
    margin-right: 60vh;
    width: 3vh;
    height: 3vh;
    pointer-events: none;
}

/* Estilo para o contêiner de informações */
.infos {
    width: 100%;
    height: 15vh;
}

/* Estilo para o ícone de clima */
#clima0 {
    margin-left: 8%;
    width: 13vh;
    height: 13vh;
}

/* Estilo para o nome da cidade */
.city {
    font-size: 4.5vh;
    font-family: "Rubik", sans-serif;
    color: #00003e;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    margin-top: 5%;
    padding: 0;
}

/* Estilo para a descrição do clima */
.weather {
    align-items: end;
    margin: 0;
    padding: 0;
    font-size: 3.5vh;
    font-weight: 400;
    color: rgba(43, 43, 43, 0.853);
    padding-left: 0%;
}

/* Estilo para a temperatura atual */
#tempD0 {
    color: #00003e;
    font-size: 7vh;
    font-family: "Gothic A1", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 2.5%;
    margin-top: 3%;
}

/* Estilo para a unidade de temperatura */
#celcius {
    font-size: 4vh;
    font-weight: 600;
    font-family: "Gothic A1";
}

/* Estilo para o contêiner do ícone de temperatura */
#temperaturePng {
    display: flex;
    width: 1;
    height: 10vh;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
}

/* Estilo para a borda */
.borda {
    width: 85%;
    border-bottom: 0.5vh solid rgba(48, 48, 48, 0.648);
    margin: 0 auto;
}

/* Estilo para o contêiner de outras informações */
.outrasInfos {
    margin-top: 2%;
    width: 100%;
    height: 10vh;
}

/* Estilo para o ícone de umidade */
#humidadePng {
    margin-left: 8%;
    width: 10vh;
    height: 10vh;
}

/* Estilo para o texto de outras informações */
.outrasinfosTxt {
    font-size: 3.5vh;
    font-family: "Rubik", sans-serif;
    color: #00003e;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    margin-top: 5%;
    padding: 0;
}

/* Estilo para os dados de outras informações */
.outrasInfosDados {
    align-items: end;
    margin: 0;
    padding: 0;
    font-size: 2.3vh;
    font-family: "Rubik", sans-serif;
    color: rgba(63, 63, 63, 0.974);
    font-weight: 470;
    font-style: normal;
    padding-left: 2.5%;
}

/* Estilo para o contêiner da previsão do tempo */
.gridPrev {
    width: 120vh;
    height: 45vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 2%;
    gap: 2%;
}

/* Estilo para os contêineres de previsão do tempo */
.prevFlexTamanho {
    border-radius: 1.4vh;
    background-color: white;
    color: black;
    width: 24vh;
    height: 26vh;
}

/* Estilo para os ícones dos dias */
.daysIco {
    margin: 7%;
    width: 4.5vh;
    height: 4.5vh;
}

/* Estilo para os textos dos dias */
.daysTxt {
    padding-left: 2.6%;
    font-size: 3.2vh;
    font-family: "Gothic A1";
    color: #00003e;
    font-weight: 600;
    font-style: normal;
    margin: 0;
}

/* Estilo para as imagens de clima */
.climaImg {
    margin-top: 0;
    width: 10vh;
    height: 10vh;
}

/* Estilo para as temperaturas */
.temp {
    font-size: 3.5vh;
    font-family: "Gothic A1";
    color: #00003e;
    font-weight: 600;
    font-style: normal;
}

/* Estilo para o contêiner dos dias */
.gridDay {
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 80%;
    height: 15vh;
    margin-left: 0;
    margin-top: 0;
    border-radius: 3vh;
}

/* Define a opacidade para todos os elementos div dentro do corpo */
body div {
    opacity: 100%;
}

/* Estilo para o ícone de calendário */
.calendarioPng {
    width: 8vh;
    height: 8vh;
    margin: 8%;
    margin-right: 2.5%;
    margin-left: 0;
}

/* Estilo para o texto do calendário */
.calendarioTxt {
    font-size: 5vh;
    font-family: "Gothic A1";
    color: #00003e;
    font-weight: 600;
    font-style: normal;
}

/* Estilos para diferentes tamanhos de tela */

/* Para telas menores que 1191px */
@media (max-width: 1191px) {
    .main-container {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gridPrev {
        display: flex;
        width: 100%;
        order: 2;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 2%;
    }

    .gridDay {
        align-items: center;
        margin: 0;
        width: 90%;
    }

    .grid1 {
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    .prevFlexTamanho {
        width: 25vh;
    }
}

/* Para telas menores que 936px */
@media (max-width: 936px) {
    .grid1 {
        align-items: center;
        margin: 0;
        width: 90%;
    }
}

/* Para telas menores que 712px */
@media (max-width: 712px) {
    .gridPrev {
        gap: 4%;
    }
}

/* Para telas menores que 568px */
@media (max-width: 568px) {
    .main-container {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gridPrev {
        display: flex;
        width: 100%;
        order: 2;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 2%;
    }

    .gridDay {
        align-items: center;
        margin: 0;
        width: 90%;
    }

    .prevFlexTamanho {
        width: 25vh;
    }

    .city {
        font-size: 25px;
    }

    #tempD0 {
        font-size: 40px;
    }

    #temperaturePng {
        width: 20px;
        height: 50px;
    }
}