.displayflex {
    display: flex;
}

.center{
    align-items: center;
    justify-content: center;
}

.center-start{
    align-items: center;
    justify-content: flex-start;
}

.grid1{
    background-color: white;
    width: 62vh;
    height: 50vh;
    margin-left: 10%;
    border-radius: 5%;
}

.search {
    width: 62vh;
    height: 11vh;
}

.search input{
    width: 42vh;
    height: 3.5vh;
    background-color: rgba(0, 0, 0, 0.753);
    border: 0.1vh solid rgba(104, 9, 112, 0);
    border-radius: 2vh;
    padding-left: 10%;
    color: white;
    font-size: 1.9vh;
}

.search input::placeholder{
    color: white;
}

.search input:focus {
    outline: 0.3vh solid #00003e; /* Remove o contorno padrão */
    /* Mantém o fundo cinza */
    /* Considere adicionar outras propriedades para realçar o foco, mantendo a acessibilidade */
}

.infos{
    width: 62vh;
    height: 12vh;
}

#climaPng{
    margin-left: 8%;
    width: 12vh;
    height: 12vh;
}