body{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.minhaletra {
    font-family: "Rubik", sans-serif;
    color: #00003e;
}

#icon{
    width: 50px;
    /* margin-left: 20px; */
}

.container{
    gap: 2%;
}

.flex1 {
    background-color: white; 
    opacity: 90%;
    border-radius: 20px;
    height: 400px;
    color: wheat;
    margin: 0;
}

.flex2 {
    background-color: white; 
    opacity: 90%;
    border-radius: 20px;
    color: wheat;
    height: 400px;
}

.flexSep{
    height: 50px;
}

.heightGrid{
    height: 14%;
}

.pngPrincipal {
    width: 20%;
}

#city {
    font-size: max(10px, 2.1vw);
}

#tempPrinc {
    font-size: max(10px, 2.3vw);
}