body{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.minhaletra {
    font-family: "Rubik", sans-serif;
    color: #00003e;
}

#icon{
    width: 50px;
    /* margin-left: 20px; */
}

.container{
    gap: 2%;
}

.flex1 {
    background-color: white; 
    opacity: 90%;
    border-radius: 20px;
    height: 400px;
    color: wheat;
    margin: 0;
}

.flex2 {
    background-color: white; 
    opacity: 90%;
    border-radius: 20px;
    color: wheat;
    height: 400px;
}

.flexSep{
    height: 50px;
}

.heightGrid{
    height: 14%;
}

.pngPrincipal {
    max-width: 20%; /* Define o tamanho máximo da imagem */
}

#city {
    font-size: 2vw; /* Define o tamanho da fonte com base na largura da tela */
    white-space: nowrap; /* Evita que o texto quebre de linha */
    overflow: hidden; /* Evita que o texto ultrapasse os limites do contêiner */
    text-overflow: ellipsis; /* Adiciona reticências ao final do texto se ele for muito longo */
}


#tempPrinc {
    font-size: 2vw; /* Define o tamanho da fonte com base na largura da tela */
    white-space: nowrap; /* Evita que o texto quebre de linha */
    overflow: hidden; /* Evita que o texto ultrapasse os limites do contêiner */
    text-overflow: ellipsis; /* Adiciona reticências ao final do texto se ele for muito longo */
}