body{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.minhaletra {
    font-family: "Rubik", sans-serif;
    color: #00003e;
}

#icon{
    width: 50px;
    /* margin-left: 20px; */
}

.gridsBoxs{
    height: 400px;
    background-color: #F8F9FA;
}

#climaPngPrinc {
    width: 60px;
}